<div class="outside">

  <div class="container center" id='signin' ng-controller = "SignUpCtrl">

    <img src="../../client/assets/login.gif" />

    <form name="signinForm" ng-submit="signin()">

      <div class="row">
        <div class="input-field">
          <input class="username" placeholder="username" type='text' ng-model='user.username' required>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <input class="password" placeholder="password" type='password' ng-model='user.password' required>
        </div>
      </div>

      <h5>If you don't have an account,
        <a href="#/signup">sign up here!</a>
      </h5>

      <button class="btn waves-effect waves-light">
        Sign In
        <i class="mdi-content-send left"></i>
      </button>

    </form>

  </div>

</div>
