<nav id="nav" class="teal accent-4">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo hide-on-med-and-down">
      <img style="height:55px;" src="../../client/assets/logoicon5.png"></img>
    </a>
    <a href="#!" class="brand-logo center">
      <img style="height:55px;" src="../../client/assets/navtitle.png"></img>
    </a>
    <ul class="right hide-on-med-and-down">
      <!-- <li><a href=""><i class="mdi-action-search"></i></a></li> -->
      <li><a href="#"><i class="mdi-navigation-refresh"></i></a></li>
      <li><a href="/#/signin"><i class="mdi-action-exit-to-app"></i></a></li>
    </ul>
  </div>
</nav>

<div class="row">

  <div class="eventList col s6">
    <h5><blockquote class="quote"> Browse events: </blockquote></h5>
    <div class="input-field">
      <i class="mdi-action-search prefix"></i>
      <input id="search" class="transparent" placeholder="Search Events" type="search" ng-model="searchText" required>
   </div>
   <ul class='collapsible popout' data-collapsible="accordion">
      <li class = 'event accordian' ng-repeat="event in eventsList | orderBy:'datetime' | filter:searchText" accordian>
        <div class='description collapsible-header transparent'>
          <b class='salmon'>{{event.description}}</b> @ {{event.location}}
        </div>
        <div class='eventInfo collapsible-body'>
          <div class='creator'><b>Host:</b> {{event.creator}}</div>
          <!-- <div class='location'><b>Location:</b> {{event.location}} </div> -->
          <!-- <div class='date'>{{event.date}}</div>
          <div class='time'>{{event.time}}</div> -->
          <div class='time'><b>When:</b> {{event.datetime | date : 'MM/dd/yyyy @ h:mma' }}</div>
          <!-- <div class='time'>{{event.datetime | fromNow }}</div> -->
          <div class="divider"></div>
          <div class='attendee-list'>
            <b>Who's Going?:</b>
            <div class='attendee' ng-repeat="attendee in event.attendeeIDs">
              {{attendee.username}}
            </div>
          </div>
          <div class="divider"></div>
          <div class='task-list'>
            <b>Items:</b>
            <form action="#">
              <div class='task' ng-repeat="task in event.tasklist">
                <input type="checkbox" id="{{$index}}"/>
                <label class="black-text" for="{{$index}}">{{task.name}}</label>
              </div>
            </form>
          </div>
          <button class="btn waves-effect waves-light right" ng-click='joinEvent(event)' ng-hide="hideme">
            Join this event!
          </button>
        </div>
      </li>
    </ul>
  </div>


  <div class='addevent col s6 z-depth-1'>
    <h5><blockquote class="quote"> Create an event: </blockquote></h5>
      <form name="eventForm" ng-submit="addEvent()">
        <div class="input-field col s12">
          <input type= "text" ng-model = "newEvent.description" placeholder="Event Name">
        </div>
        <div class="input-field col s12">
          <input type= "text" ng-model = "newEvent.location" placeholder="Location">
        </div>
        <div class="input-field col s12">
          <textarea id="details" ng-model= "newEvent.details" class="materialize-textarea">
          </textarea>
          <label for="details">Details</label>
        </div>
        <div class="input-field col s6">
          <input type= "date" ng-model = "newEvent.date">
        </div>
        <div class="input-field col s6">
          <input type= "time" ng-model = "newEvent.time">
        </div>
        <div class="input-field col s12">
          <input type="text" name="add-task" class='add task' placeholder="Add items here" ng-model="taskName" ng-keyup="addTask()"/>
        </div>
        <div class="col s12">
          <div class="btn waves-effect waves-light btn-large right" ng-click="addEvent()">Submit Event</div>
        </div>
      </form>

    <div class="col s12">
      <ul id="todo-list">
        <li ng-repeat="task in tasklist track by $index" ng-mouseenter="task.show = true; item= 'focus'" ng-mouseleave="task.show = false; item = 'nofocus'" ng-class='item'>
          <div>
            <span class="completed-{{task.completed}}">{{task.name}}</span>
            <i class="mdi-navigation-cancel right salmon" title="Delete Task" ng-show="task.show" ng-click="deleteTask(tasklist.indexOf(task))"/>
          </div>
        </li>
      </ul>
    </div>
  </div>



</div>






