/*html {
  background: url(/client/assets/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: absolute;
  width: 100%;
  height: 100%;
}
*/
blockquote {
  margin: 15px 0 0 0;
}

#signin {
  position: relative;
}

#signup {
  position: relative;
}

.username {
  /*color: #FFF;*/
}

.password {
  /*color: #FFF;*/
}

#search {
  padding-left: 0;
  /*color: #FFF;*/
}

.eventList {
  /*color: white;*/
}

.addevent {
  /*color: white;*/
}

.eventInfo {
  margin-left: 20px;
}


.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}





.rotate {
    -webkit-animation-duration: 1s;
    position: absolute;
    width: 100%;
    height: 100%;
}
.ng-leave.rotate {
    -webkit-animation-name: rotate-leave;
}
.ng-enter.rotate {
    -webkit-animation-name: rotate-enter;
}
@-webkit-keyframes rotate-leave {
    0% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(0);
        opacity: 1;
    }
    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-180deg);
        opacity: 0;
    }
}
@-webkit-keyframes rotate-enter {
    0% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-180deg);
        opacity: 0;
    }
    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-360deg);
        opacity: 1;
    }
}